@charset "utf-8";

.link-color {
  color: #01a6a4;
}

.label-text {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  color: #545658;
}

.alert {
  color: #dd4b39;
  margin-left: 3px;
}

input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

.mt {
  margin-top: 20px;
}

.is-fullWidth {
  width: 100%;
}

.wrapper {
  background: #f2f6f7;
  padding: 32px 0;
  width: 100%;
}

.inner {
  width: 640px;
  margin: 0 auto;
}

.main {
  padding: 48px 64px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 18%);
}

.form-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  color: #545658;
}

.start-buttons {
  display: flex;
  margin-bottom: 8px;
}

.start-button {
  width: 50%;
}

.start-button:last-child {
  margin-left: 8px;
}

.button {
  display: inline-block;
  font-size: 13px;
  padding: 13px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  transition: .3s;
  text-decoration: none;
  border: 1px solid #d9d9d9;
  font-weight: 500;
}

.fa-link {
  color: #fff;
  background: #3b5999;
  border-color: #3b5999;
}

.fa-link:hover {
  background-color: #344e87;
  border-color: transparent;
}

.go-link {
  color: #dd4b39;
  background: #fff;
}

.go-link:hover {
  background-color: #f7f7f7;
}

.head-text {
  font-size: 12px;
  color: #949697;
  text-align: center;
}

.account {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.account-title {
  display: inline-block;
  padding: 0 10px;
  background-color: #fff;
  font-size: 12px;
  color: #949697;
  position: relative;
}

.account:before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ececec;
  position: absolute; 
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* フォーム */

.name-box {
  display: flex;
}

.name {
  width: 50%;
  margin-left: 16px;
}

.input-area {
  height: 36px;
  width: 100%;
  padding: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  box-sizing: border-box;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.input-area:focus {
  background: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgb(1 191 189 / 10%);
}

.name:first-child {
  margin: 0;
}

/* 性別 */

.gender-options {
  display: flex;
  color: #545658;
  font-size: 16px;
}

.gender-option {
  cursor: pointer;
  margin-left: 15px;
  position: relative;
}

.gender-option:first-child {
  margin-left: 0;
}

.gender-input {
  display: none;
}

.gender-option span {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gender-option span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.gender-input:checked + span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}

/* 出身地 */
.select-area {
  width: 50%;
}

/* コース選択 */
.course-option {
  margin-bottom: 10px;
  color: #545658;
  font-size: 16px;
}

.course-option:last-child {
  margin-bottom: 0;
}

.course-text {
  color: #545658;
  position: relative;
  padding-left: 25px;
}

.course-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.course-option input:checked + .course-text::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

/* 備考 */

.remark-area {
  width: 100%;
  height: 100px;
}

/* 送信ボタン */

.send-button {
  background-color: #01bfbd;
  color: #fff;
  border: 1px solid #01bfbd;
}

.send-button:hover {
  background-color: #01a6a4;
}

.send-button:active {
  background-color: #fff;
  color: #01a6a4;
  border: 1px solid #d9d9d9;
}

.under-button-text {
  margin-top: 20px;
  font-size: 12px;
}

/* フッター */

.footer {
  text-align: center;
}

.footer p, .resend-mail {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
}
